<div class="container">
  <h1>Multi-form Application</h1>
  <div class="form-controls">
    <button
      (click)="addFormCard()"
      [disabled]="formCards.length >= 10 || isSubmitting"
      class="btn btn-add-form"
    >
      Add Form
    </button>

    <button
      (click)="submitForms()"
      *ngIf="!isSubmitting"
      [disabled]="invalidFormsCount > 0 || formCards.length === 0"
      class="btn btn-submit"
    >
      Submit all forms
    </button>
    <button
      (click)="cancelSubmit()"
      *ngIf="isSubmitting"
      class="btn btn-cancel"
    >
      Cancel
    </button>

    <span *ngIf="invalidFormsCount > 0" class="invalid-forms-count">
      Invalid forms: {{ invalidFormsCount }}
    </span>

    <span *ngIf="timer !== null" class="timer">
      Time remaining: {{ timer }}s
    </span>
  </div>
  
  <div *ngFor="let form of formCards; let i = index">
    <app-form-card (remove)="removeFormCard(i)" [form]="form"></app-form-card>
  </div>
</div>
