/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

